@mixin p-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

@mixin light-p-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: rgb(134, 134, 134);
}

@mixin heading {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}